body {
    height: 100vh;
    margin: 0;
}

#root {
    display: grid;
    height: 100vh;
    grid-template-rows: 4% 96%;
}

#header * {
    margin: 0;
}

#header {
    background-color: hsl(0, 1%, 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.panelHolder {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.75fr;
}

.fileTreePanel {
    background-color: hsl(0, 1%, 30%);
}

.editorPanel {
    background-color: hsl(0, 1%, 35%);
}

.assistantPanel {
    background-color: hsl(0, 1%, 30%);
    min-width: 0;
    min-height: 0;
}

