ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
.fileTreeHeader {
    display: flex;
    justify-content: start;
    align-self: center;

    gap: 8px;
    margin-left: 5px;
}

.fileTreeHeaderBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    max-width: var(--panelHeader-btn-max-width);
    min-width: var(--panelHeader-btn-min-width);
    height: var(--panelHeader-btn-height);

    border-radius: 4px;

    background-color: var(--accent-dark);
    color: var(--text-dark);
}
.fileTreeHeaderBtn:hover {
    filter: brightness(1.2);
}

.fileTreeHeaderIcon {
    width: var(--panelHeader-btn-icon-width);
    height: var(--panelHeader-btn-icon-height);
}
    position: relative;
    margin-left: 10px;
    border: 1px solid black;
    background-color: hsl(0, 1%, 25%);
}

.folder {
    background-color: hsl(0, 1%, 35%);
}

.fileTree input {
    width: 50%;
}

li button {
    position: absolute;
    background: none;
    border: none;
    top: 1px;
    padding: 0;
}

.deleteBtn{
    right: 23px;
}

.renameBtn {
    right: 0;
}