ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin-left: 10px;
    border: 1px solid black;
    background-color: hsl(0, 1%, 25%);
}

.folder {
    background-color: hsl(0, 1%, 35%);
}