.editorPanel *{
    padding: 0;
    margin: 0;
}
.editorPanel {
    padding: 10px;
    overflow: auto;
}

.EditorTitle h1{
    margin: 0px 5px 16px;
}

.tiptap {
    outline: 0;
    height: 100%;
}

.tiptap p {
    font-size: 1.5rem;
    margin: 0px 5px 16px;
}